@import url('https://fonts.google.com/specimen/Space+Grotesk');
/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* END RESET */
body{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
   
}

main{
    display: inline-flex;
    
}
form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    line-height: 2em;
}
input{
    width: 20em;
    height: 2em;
    font-size: 1.2em;
    border-color: hsl(270, 3%, 87%);
    border-radius: .3em;
}

 button{
    width: 33em;
    height: 4em;
    color: hsl(0, 0%, 100%);
    background-color: hsl(278, 68%, 11%);
    border: none;
    border-radius: 0.6em;
 }

 img{
    width: 30em;
    
 }

.main-image{
    height: 100vh;
    width: 50em;
}
.form-container{
    height: 100vh;
    width: 80em;
}

.details-labels{
    
    display: flex;
    justify-content: start;
    gap: 4em
}
.details-inputs{
    width: 24em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.detail{
    width: 4em;
    flex-wrap: none;
}

.cc-cvc{
    width: 10em;
}

.frontcc{
    position: absolute;
    top: 20em;
    left: 30em;
}

.backcc{
    position:absolute;
    top: 38em;
    left: 34em;
}
.cc-logo{
    position: relative;
    height: 2em;
    width: 3em;
    right: 29em;
    bottom: 13em;
}

.cc-example-numbers{
    position: relative;
}
